NAME = ""

SQL_TABLE = None

IDENTIFICATION_FUNCTION = lambda table: table

CONFIG = {
    "filters": [],
    "datetime_columns": {},
    "rename_columns": {},
    "rename_values": {},
    "transformations": {},
    "data_transformations": [],
    "query_save_columns": {},
    "required_fields": [],
    "nan_values": [],
    "stat_augmentations": {},
    "href_save_map": {},
}
